*{
    margin: 0;
    padding: 0;
}


html{
    background-color: #212121;
}


body{
    border: 5px solid greenyellow;
    margin: 40px 20px 20px 10px;

}

.content{
    /*background-image: url("https://cdn.wallpapersafari.com/55/73/ghY4rc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/

    /*border-width: 4px;
    border-color: cadetblue;
    border-style: solid;*/
    padding: 5px;
}

.innerContent{
    border: 1px solid greenyellow;
    width: auto;
    padding: 10px;
}